.inner-content1 {
    color: white;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    float: left;
}
.buttDiv1 {
    padding: 40px;
}
.button1 {
    width: 35vw;
    height: 45vh;
    border-radius: 6px;
    background-image: url("https://i.pinimg.com/736x/c0/bb/a2/c0bba2ab425da7f0913ad6c958eb1705--kids-jigsaw-puzzles-dinosaurs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border: none;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    box-shadow: 0 38px 24px 0 rgba(0,0,0,0.15);
    border: none;
    
}
.carnInfo {
    display: flex;
    flex-direction: column;

}  
.div editDel {
    display: flex;
    align-content: space-between;
    background-color: brown;
    
} 
.data {
    padding: 0 100px;
}
